/* src/App.css */
body {
  font-family: 'Lato', sans-serif; /* Lato 폰트 적용 */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700; /* 굵은 폰트 */
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400; /* 보통 굵기 */
}

@media (max-width: 768px) {
  .custom-text {
    font-size: 5vw; 
  }
}